html, body{margin: 0; padding:0; height: 100%; }
body{position: relative; min-height: 100%; display: flex; flex-direction: column;}
#content, header {width: 80%; margin: 0 auto;}

#content {margin: 0 auto; margin-top: 20px; padding-bottom: 100px; padding:0px; text-align: center;}

#logo_here{width: 500px; margin: 0 auto; text-align: center;}
img.logo{width: 100px; height: 100px;	}

header ul, header ul li {	margin: 0;	padding: 0;	display: inline; float: left;}

.menuBar ul li {margin-right: 20px;}
.menuBar ul li a{font-size: 20px;}
.menuBar ul li a:hover, .menuBar ul li a.active{font-weight: bold; color: #ad53ff;}
a#mypage.active{font-weight: bold; color: #ad53ff;}

.myMenuBar ul li{	margin: 0;	padding: 0;	display: inline; float: left; margin-right: 20px;}

.header_user{ right: 0; top: 25px; float: right; font-size: 15px;}
.header_user li:not(:first-child){	padding-left: 10px;}
.header_user input {display: block; float: left; margin-left: 5px;	border : none;	border-bottom: 1px solid gray;	padding : 5px;	font-size: 15px; height: 30px;}
.header_user input:focus {	outline : none;}

#user_email, #user_pw {width: 150px; height: 20px; font-size: 14px;}

table {	width: 100%; min-width:max-content; margin: 0 auto; border-collapse: collapse;}
table th, table td {	border-top: 1px solid #5c5c5c; border-bottom:1px solid #5c5c5c;	padding: 5px 10px; vertical-align: middle;}
table th {background-color: #e0e0e0; font-weight: bold;}
table td {text-align: center;}
table td[name=board_title], table td[name=board_filename] {text-align: left; }
table td[name=board_content] {text-align: left; height: 200px;}

table#boardTable a {float: left; margin-left: 5px;}

table#order_info tr td{ text-align: left;}

input {	height: 22px;	padding: 5px 10px;	font-size: 15px; }
input[name=board_title] {width: calc(100% - 24px); }
input[name=board_filename] {float: left; }
input[name=qna_question] {width: calc(100% - 24px); }
input[name=qna_email] {width: calc(100% - 24px); }
input[name=qna_nickname] {width: calc(100% - 24px); }
textarea[name=qna_answer] {width: calc(100% - 24px); }
table#boardTable input{float: left; }
table input[name=user_address]{width: calc(100% - 24px);}
table input[name=detail_address]{width: calc(100% - 24px);}
textarea { width: calc(100% - 6px); resize: none; height: 150px;}
.check_msg {font-size: 13px; font-weight: bold; float: right;}

.left { text-align:left;}
a {text-decoration: none; color: black;}
a:hover{font-weight: bold; cursor: pointer;}

.buttons {margin: 0 auto; text-align: center;}
a.btn_fill, a.btn_empty { text-align: center;	padding: 3px 10px;	border: 1px solid #5c5c5c;	border-radius: 3px;	box-shadow: 2px 2px 3px #e0e0e0;}
a.btn_fill_s, a.btn_empty_s { font-size:13px; text-align: center;	padding: 1px 5px;	border: 1px solid #5c5c5c;	border-radius: 3px;	box-shadow: 2px 2px 3px #e0e0e0;}
a.btn_fill, a.btn_fill_s {	background-color: #ad53ff; color: #ffffff; }
a.btn_empty, a.btn_empty_s {	background-color: #edbdff; color: #5c5c5c; }

#attach-file, #delete-file {display: none;}
.file_icon {width: 15px;}

#searchTap {width: 100%; margin: 0 auto; padding: 0; margin-bottom: 10px; height: 30px; line-height: 30px; display: grid; }
#searchTap ul{display: flex; padding:5px; background-color: #e7e7e7; }
#searchTap ul:last-child{float:right;}
#searchTap ul:first-child{float:left;}
#searchTap ul li {margin: 0 auto;}
#searchTap ul li * {vertical-align: middle;}

ul{list-style: none;}
#list-top {width: 100%; margin: 0 auto; padding: 0}
#list-top div{width: 100%; height: 32px;}
#list-top div ul{display: flex; margin: 0; }
#list-top div ul:last-child{float:right;}
#list-top div ul:first-child{float:left;}
#list-top div ul li * {vertical-align: middle;}
#list-top div ul li:not(:first-child) {margin-left: 3px;}

label{display: inline-flex;}
label:last-child{margin-right: 0;}

.preview-img {width: 30px; height: 30px;}
.file-img {width: 200px; height: 200px;}
#attach-file, #delete-file {display: none;}

#btnOrder{ position: absolute; top: 50%; right: 10%;}

/* 회사소개페이지 */
.full_image {width: 100%; margin: 50px 0;}

.bgInner {width: 100%;}
.innerTitle{ text-align: center;}
.innerTitle p{ text-align: center;}
.innerContent{ background-color: #ededed; width: 1100px; margin: 0 auto;}
.innerContent div { padding: 50px 25px; overflow: hidden; }
.innerContent div div{ width:500px; float: left; overflow: hidden; line-height: 25px; color: #616161; text-align: justify; padding: 0;} 
.content_left{ margin-right: 50px; }

#companyLoad{ margin: 50px 0; overflow: hidden;}
/* #companyLoad div#kt, #companyLoad div#tel { background-color: #ededed; line-height: 25px; color: #616161; width: 700px; float: left;} */
#companyLoad div ul { text-align: left; padding: 0;}
#companyLoad div ul li { text-align: left; }
#companyLoad div ul li a{ color: #616161; }

#signupForm span{ position: absolute;}

/*이메일인증*/
.unLoginEmailConfirm span{ position: absolute; margin-left: -100px; margin-top: 7px;}
.unLoginEmailConfirm span#emailConfirmResult{ margin-left: -100px; }


.reviewContent {height: auto; margin: 0 20px; width: calc(100% - 260px); box-sizing: content-box;}
.reviewContent div{width: 100%; }
.reviewContent div:first-child {font-weight: bold; text-align: left;}
.reviewContent div:nth-child(2) { height: auto; overflow: hidden;}
.reviewContent div:last-child {float: right;}

.review_detail td{padding: 20px;}
.review_detail td div.detail_p a{margin-right: 20px;}

ul.photoView {width: 100%; margin: 0; float: left;}
.photoView li { width: 100%; min-width:600px; height:auto; min-height: 250px; margin-bottom:5px; border: 1px solid gray; box-sizing: border-box; padding: 20px; overflow: auto;}
.photoView li div{ float: left; display: inline-block; text-align: left; padding: 5px;}
.photoView li div.buttons{text-align: right;}

#popup-background {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.6; display: none;}

.w-pct50{ width: 50%;}
.w-pct60{ width: 60%;}
.w-pct70{ width: 70%;}
.w-pct80{ width: 80%;}
.w-px40{ width: 40px;}
.w-px50{ width: 50px;}
.w-px60{ width: 60px;}
.w-px80{ width: 80px;}
.w-px100{ width: 100px;}
.w-px120{ width: 120px;}
.w-px140{ width: 140px;}
.w-px160{ width: 160px;}
.w-px180{ width: 180px;}
.w-px200{ width: 200px;}
.w-px300{ width: 300px;}


.reset {
	width: 400px;
	height: 45px;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	margin: 0px 0px 15px;
	background-color: #8a8a8a;
	color: white;
}

footer{ padding:30px; background-color: #000; opacity: 0.6; width:auto; height: 100px; margin:0; bottom: 0; margin-top: auto; z-index: 9999;} 
footer *{ color: white; text-align: center; font-weight: normal; font-size: 15px;}
footer p{ margin: 0; }






















