html, body{margin: 0; padding:0; height: 100%; }
body{position: relative; min-height: 100%; display: flex; flex-direction: column;}
#content, header {width: 80%; margin: 0 auto;}

#content {margin: 0 auto; margin-top: 20px; padding-bottom: 100px; text-align: center;}


a {text-decoration: none; color: black;}
a:hover{ margin-top:-1px; cursor: pointer;}

ul{list-style: none; padding: 0;}
/* 페이지 상단*/
header ul, header ul li {	margin: 0;	padding: 0;	display: inline; float: left;}
header { margin: 30px auto;}

#logoNheader{background-color: #344955; width: 100%; padding-bottom: 30px;}
#logo_here{width: 500px; margin: 0 auto; text-align: center;}
img.logo{width: 200px;	}

.menuBar ul li {margin-right: 20px;}
.menuBar ul li a{font-size: 25px; color: white; font-family: 'Noto Sans KR',sans-serif;}
.menuBar ul li a:hover, .menuBar ul li a.active{ color: #F8AA34;}

a#mypage.active{font-weight: bold; color: #F8AA34;}

#serviceNotice { display: inline-block;}
#serviceNotice ul li { list-style: none;  float: left; margin-right: 20px;}


/*마이페이지 - 카테고리*/
.myMenuBar {display: inline-block; width: 100%; margin: 0 auto;}
.myMenuBar ul{display: inline-block; width: max-content; margin:0 auto; text-align: center;}
.myMenuBar ul li {	margin: 0;	display: inline; float: left; padding: 0px; margin-right:20px;  width: max-content;}
.myMenuBar ul li:last-child {margin-right: 0;}
.myMenuBar ul li a:hover, .myMenuBar ul li a.active { color: #F8AA34; font-weight: bold; }

/*헤더 - 로그인*/
.header_user{ right: 0; top: 25px; float: right; font-size: 15px;}
.header_user li:not(:first-child){	padding-left: 10px;}
.header_user input {display: block; float: left; margin-left: 5px;	border : none;	border-bottom: 1px solid #fff;	padding : 5px;	font-size: 15px; height: 30px; color: white;}
.header_user input::placeholder{color: white;}
.header_user input:focus {	outline : none;}
.header_user ul { margin-top: 9px; }
.header_user li:not(last-child), .header_user li:not(last-child) a{ color: white;}
.header_user li a.btn_fill {color:#232F34;}
.header_user ul li a.active{color: #F8AA34;}

#user_email, #user_pw {width: 150px; height: 20px; font-size: 14px; background: transparent;}

/*페이지내부 타이틀*/
p.titleName{    color: #2c2c2c;    font-size: 54px;    font-weight: 400;    font-family: 'Noto Sans KR',sans-serif;    text-align: center;    padding-bottom: 20px;		margin-bottom: 0;}
p.subTitleName{    color: #2c2c2c;    font-size: 30px;    font-weight: 500;    font-family: 'Noto Sans KR',sans-serif;    text-align: center;    padding-bottom: 20px;		margin-bottom: 0;}
.titleLine{display: block;    width: 40px;    height: 2px;    margin: 0 auto;    background: #8c8c8c; margin-bottom: 20px;}

/*상품소개페이지*/
#boxZone {width: 100%; margin-top: 50px;}
#overBox, #underBox {width: 100%; margin: 0 auto; }
.boxSet { width: 50%; box-sizing: border-box; height: 300px;}
.overBox, .underBox{ float: left;}
a.lineBox { border: 2px solid #F8AA34;    padding: 10px;    font-weight: bold;    vertical-align: middle;    color: #F8AA34;    margin-top: 130px;    display: inline-block;}
a.lineBox:hover { background-color: #F8AA34; 	color : white;}
.textBox{padding: 10px; text-align: justify;}
.boxSet img{ opacity: 0.6;}

/* 안내페이지 */
.pageContext {text-align: justify; border: 1px solid #8c8c8c; padding: 20px 10px; box-sizing: border-box; margin-top: 20px; font-size: 15px;}
.pageContext div.subtitle { font-size: 18px; font-weight: bold; border-bottom: 1px solid #8c8c8c; margin: 20px 0px;}

/* 테이블설정 */
table {	width: 100%; min-width:max-content; margin: 0 auto; border-collapse: collapse;}
table th, table td {	border-top: 1px solid #5c5c5c; border-bottom:1px solid #5c5c5c;	padding: 5px 10px; vertical-align: middle;}
table th {background-color: #e0e0e0; font-weight: bold; height: 25px;}
table td {text-align: center; height: 45px;}
table td[name=board_title], table td[name=board_filename] {text-align: left;}
table td[name=board_content] {text-align: left; height: 300px;}
table#boardTable a {float: left; margin-left: 5px;}

input {	height: 22px;	padding: 5px 10px;	font-size: 15px; }
input[name=board_title] {width: calc(100% - 24px); }
input[name=board_filename] {float: left; }
input[name=qna_question] {width: calc(100% - 24px); }
input[name=qna_email] {width: calc(100% - 24px); }
input[name=qna_nickname] {width: calc(100% - 24px); }
textarea[name=qna_answer] {width: calc(100% - 24px); }
table#boardTable input{float: left; }
table input[name=user_address]{width: calc(100% - 24px);}
table input[name=detail_address]{width: calc(100% - 24px);}
textarea { width: calc(100% - 6px); resize: none; height: 150px;}
.check_msg {font-size: 13px; font-weight: bold; float: right;}

.left { text-align:left;}

/* 기본버튼 */
.buttons {margin: 0 auto; text-align: center; margin-top: 10px; }
a.btn_fill, a.btn_empty { font-weight: bold; text-align: center;	padding: 3px 10px;	border-radius: 3px;	box-shadow: 2px 2px 3px #8c8c8c;}
a.btn_fill_s, a.btn_empty_s { font-weight: bold; font-size:13px; text-align: center;	padding: 1px 5px;	border-radius: 3px;	box-shadow: 2px 2px 3px #8c8c8c;}
a.btn_fill, a.btn_fill_s {	background-color: #F8AA34; color: #232F34; }
a.btn_empty, a.btn_empty_s {background-color: #8a8a8a; color: #ffffff; }

#attach-file, #delete-file {display: none;}
.file_icon {width: 15px;}

#searchTap {width: 100%; margin: 0 auto; padding: 0; margin-bottom: 10px; height: 30px; line-height: 30px; display: grid; }
#searchTap ul{ padding:5px; width: 500px; margin: 0 auto; }
#searchTap ul:last-child{float:right;}
#searchTap ul:first-child{float:left;}
#searchTap ul li {margin: 0 auto; float: left;}
#searchTap ul li:not(:last-child) {margin-right: 10px;}
#searchTap ul li * {vertical-align: middle;}

#list-top {width: 100%; margin: 0 auto; padding: 0}
#list-top div{width: 100%; height: 32px;}
#list-top div ul{display: flex; margin: 0; }
#list-top div ul:last-child{float:right;}
#list-top div ul:first-child{float:left;}
#list-top div ul li * {vertical-align: middle;}
#list-top div ul li:not(:first-child) {margin-left: 3px;}

label{display: inline-flex;}
label:last-child{margin-right: 0;}

.preview-img {width: 30px; height: 30px;}
.file-img {width: 200px; height: 200px;}
#attach-file, #delete-file {display: none;}
.file_icon {width: 15px; height: 15px;}

#btnOrder{ position: absolute; top: 50%; right: 10%;}

.bgInner {width: 100%;}
.innerTitle{ text-align: center;}
.innerTitle p{ text-align: center;}
.innerContent{ background-color: #ededed; width: 100%; margin: 0 auto; }
.innerContent div { padding: 50px 25px; overflow: hidden; width: inherit;}
.innerContent div div{ width:45%; float: left; overflow: hidden; line-height: 25px; color: #616161; text-align: justify; padding: 0;} 
.content_left{ margin-right: 5%; }

#companyLoad{ margin: 50px 0; overflow: hidden;}
/* #companyLoad div#kt, #companyLoad div#tel { background-color: #ededed; line-height: 25px; color: #616161; width: 700px; float: left;} */
#companyLoad div ul { text-align: left; padding: 0;}
#companyLoad div ul li { text-align: left; }
#companyLoad div ul li a{ color: #616161; }

#signupForm span{ position: absolute;}

/*이메일인증*/
.unLoginEmailConfirm span{ position: absolute; margin-left: -100px; margin-top: 7px; min-width: max-content;}
#emailConfirmResult{ margin-left: -100px; }



.contentBox{min-height: 500px;}

.reviewContent {height: auto; margin: 0 20px; width: calc(100% - 260px); box-sizing: content-box;}
.reviewContent div{width: 100%; }
.reviewContent div:first-child {font-weight: bold; text-align: left;}
.reviewContent div:nth-child(2) { height: auto; overflow: hidden;}
.reviewContent div:last-child {float: right;}

.review_detail td{padding: 20px;}
.review_detail td div.detail_p a{margin-right: 20px;}

ul.photoView {width: 100%; margin: 0; float: left;}
.photoView li { width: 100%; min-width:600px; height:auto; min-height: 250px; margin-bottom:5px; border: 1px solid gray; box-sizing: border-box; padding: 20px; overflow: auto;}
.photoView li div{ float: left; display: inline-block; text-align: left; padding: 5px;}
.photoView li div.buttons{text-align: right;}

#popup-background {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.6; display: none;}

.w-pct50{ width: 50%;}
.w-pct60{ width: 60%;}
.w-pct70{ width: 70%;}
.w-pct80{ width: 80%;}
.w-px40{ width: 40px;}
.w-px50{ width: 50px;}
.w-px60{ width: 60px;}
.w-px80{ width: 80px;}
.w-px100{ width: 100px;}
.w-px120{ width: 120px;}
.w-px140{ width: 140px;}
.w-px160{ width: 160px;}
.w-px180{ width: 180px;}
.w-px200{ width: 200px;}
.w-px300{ width: 300px;}


.reset {
	width: 400px;
	height: 45px;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	margin: 0px 0px 15px;
	background-color: #8a8a8a;
	color: white;
}

footer { padding:25px 0px; background-color: #dddedf; width:auto; height: max-content; margin:0; bottom: 0; margin-top: auto; z-index: 9999; } 
#footerZone { width: 80%; margin: 0 auto;   height: 100%;    box-sizing: border-box; min-width: max-content;}
#footerLeft { float: left;}
#footerRight { float: right; margin-right: 50px;}
#footerZone p{ margin: 0; font-size: 15px; font-size: 15px; }
#footerZone h4{ margin: 5px 0px;}
#snsIcon svg {margin-right: 10px;}
#snsIcon svg:last-child {margin-right: 0px;}






















