html, body{margin: 0; padding:0; height: 100%; }
body{position: relative; min-height: 100%;}
#content, header {width: 80%; margin: 0 auto;}

#logo_here{width: 500px; margin: 0 auto; text-align: center;}
img.logo{width: 100px; height: 100px;	}

div.container { margin: 0 auto; width: 100%; padding: 50px 0px; text-align: center;}

table {	width: 80%;	margin: 0 auto;	border-collapse: collapse;}
table th, table td {	border-top: 1px solid #5c5c5c; border-bottom:1px solid #5c5c5c;	padding: 5px 10px; vertical-align: middle;}
table th {background-color: #e0e0e0; font-weight: bold;}
table td {text-align: center;}
table td[name=board_title], table td[name=board_filename] {text-align: left; }
table td[name=board_content] {text-align: left; height: 200px;}
table a {float: left; margin-left: 5px;}

input {	height: 22px;	padding: 5px 10px;	font-size: 15px; }
input[name=board_title] {width: calc(100% - 24px); }
input[name=board_filename] {float: left; }
table input{float: left; }
table input[name=user_address]{width: calc(100% - 24px);}
table input[name=detail_address]{width: calc(100% - 24px);}
textarea { width: calc(100% - 6px); resize: none; height: 150px;}
.check_msg {font-size: 13px; font-weight: bold; float: right;}

.left { text-align:left; }
a {text-decoration: none; color: black;}
a:hover{font-weight: bold;}

.buttons {margin: 0 auto; text-align: center; padding-top: 10px;}
a.btn_fill, a.btn_empty { text-align: center;	padding: 3px 10px;	border: 1px solid #5c5c5c;	border-radius: 3px;	box-shadow: 2px 2px 3px #e0e0e0;}
a.btn_fill_s, a.btn_empty_s { font-size:13px; text-align: center;	padding: 1px 5px;	border: 1px solid #5c5c5c;	border-radius: 3px;	box-shadow: 2px 2px 3px #e0e0e0;}
a.btn_fill, a.btn_fill_s {	background-color: #ad53ff; color: #ffffff; }
a.btn_empty, a.btn_empty_s {	background-color: #edbdff; color: #5c5c5c; }

#attach-file, #delete-file {display: none;}
.file_icon {width: 15px;}

ul{list-style: none;}
#list-top {width: 80%; margin: 0 auto; padding: 0}
#list-top div{width: 100%; height: 32px;}
#list-top div ul{display: flex; margin: 0;}
#list-top div ul:last-child{float:right;}
#list-top div ul:first-child{float:left;}
#list-top div ul li * {vertical-align: middle;}
#list-top div ul li:not(:first-child) {margin-left: 3px;}

label{display: inline-flex; margin-right: 100px;}
label:last-child{margin-right: 0;}

.file-img {width: 20px;}
#attach-file, #delete-file {display: none;}

ul.photoView {width: 80%; margin: 0 10%; float: left;}
.photoView li { float: left; width: 32.5%; height: 300px; border: 1px solid gray; box-sizing: border-box;}
.photoView li:not(:nth-child(3n)) { margin: 0 1.25% 1.25% 0;}
.photoView li div:not(:first-child) { text-align: left; padding: 5px;}
.photoView li div:first-child {text-align: center;}
.photoView li div.buttons{text-align: right;}

.file-img {width: 200px; height: 200px;}

.review_detail {}

.w-pct50{ width: 50%;}
.w-pct60{ width: 60%;}
.w-pct70{ width: 70%;}
.w-pct80{ width: 80%;}
.w-px40{ width: 40px;}
.w-px50{ width: 50px;}
.w-px60{ width: 60px;}
.w-px80{ width: 80px;}
.w-px100{ width: 100px;}
.w-px120{ width: 120px;}
.w-px140{ width: 140px;}
.w-px160{ width: 160px;}
.w-px180{ width: 180px;}
.w-px200{ width: 200px;}
.w-px300{ width: 300px;}

footer {width: 80%; margin: 0 auto;}

.reset {
	width: 400px;
	height: 45px;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	margin: 0px 0px 15px;
	background-color: #8a8a8a;
	color: white;
}

footer{ padding:30px; background-color: #000; opacity: 0.6; width:100%; height: 100px; margin:0; } 
footer *{ color: white; text-align: center; font-weight: normal; font-size: 15px;}
footer p{ margin: 0; }






















