<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="android">
	<select id="noticeList" resultType="BoardVO">
		<![CDATA[
		select rownum no, n.*
		from (select * from bboard where board_category = 0 order by board_num desc) n
		where rownum between #{begin} and #{end}
		]]>
	</select>
	
	<insert id="commentInsert">
		
	</insert>
</mapper>